$num-card-cols: 4;

.cards { 
  width: ($num-card-cols * $large-card-width) + ($num-card-cols * 2px);
  margin: auto;
}

.cards li {
    float: left;
}

.cards .card {
  float: left;
}

@media #{$bp-small} {
  .cards { 
    width: ($num-card-cols * $small-card-width) + ($num-card-cols * 2px);
  }
}
