$num-card-cols: 4;

.cards { 
  width: ($num-card-cols * $card-width) + ($num-card-cols * 2px);
}

.cards .card {
  float: left;
}

@media #{$bp-large} {
  .cards { 
    width: ($num-card-cols * $large-card-width) + ($num-card-cols * 2px);
  }
}
