.game-best {
    text-align: center;
    height: 26px;
    width: 300px;
    margin: auto;
    display: inline-block;

    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -150px;

    font-size: 14px;
}

@media #{$bp-small} {
    .game-best {
        top: 62px;
    }
}

.game-best-fallback {
    display: none;
}
